
/conf/*

/.swo

/r/*

/outbox/*

/client/__javascript__/*
/client/__target__/*
/client/app.js

/firebase/fbsacckeyorig.json
/firebase/fbsacckey.json
/s/toenv.bat

/upload/*
!/upload/ReadMe.md
/download/*
!/download/ReadMe.md
/drive/*
!/drive/ReadMe.md

/envs/*
defaults.yml

/cache/*

__pycache__/

debug.log

